/*element selectors*/

html {
    height: 100%;
}

body {
    background-color: rgba(101, 170, 154, 0.84);
    color: rgba(1, 4, 41, 0.97);
    font-family: 'Nunito', arial, verana, sans-serif;
    
    margin: auto;
    margin-top: 0;
    width: 82%;
}

header {
    height: 350px;
    background-image: url(../assets/regenerative-medicine-axolotl-genome-1.jpg);
    margin:auto;
    width: 82%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    margin: border-top: 5px solid rgba(1, 4, 41, 0.97);
}

nav {
    background-color: rgb(131, 66, 106);
    width: 82%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: '2-questa_grande_regular_31', arial, verdana, serif;
    font-size: 40px;
    margin: 0;
}


figure {
    text-align: center;
}

/*multiple tag selectors*/

img,
video {
    border: 4px dotted rgba(101, 170, 154, 0.84);
    padding: 3px;
}

header p,
header a {
    text-align: right;
    padding-top: 2px;
    color: white;
    padding-top: 80px;
    padding-right: 5px;
}


/*descendant tag selectors*/

header h1 {
    text-align: left;
    font-size: 80px;
    padding-left: 20px;
    padding-top: 40px;

}


h1 a {
    text-decoration: none;
    color: rgba(6, 10, 64, 0.87);

}

.mainMenu a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li {
    display: table-cell;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    padding: 4px;
}


/*id selectors*/

#main {
    margin: auto;
    width: 81%;
    overflow: hidden;
    background: white;
    padding-left: 1%;
}

#behavior {
    width: 350px;
    height: 350px;
    float: left;
    text-align: center;
}

#email_author,
#for_more_info {
    text-align: center;
}

/*class selectors*/

.mainMenu > ul {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.habitatImg {
    width: 100%;
    height: auto;
}

.homeImg {
    width: 47%;
    height: auto;
    margin-left: 10px;
}

.homeImgS {
    width: 47%;
    height: 70%;
    margin-left: 10px;
}

.centerText {
    text-align: center;
}

.behaviorImg {
    width: 90%;
    height: auto;
}

.heart {
    color: rgb(131, 66, 106);
    font-size: 250px;
    margin-top: 0px;
}

.aboutMe {
    background-image: url(../assets/roses.jpg);
    height: 300px;
}
